@import "tailwindcss";

#root {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

:root {
  font-family: "Inter", "Inter Placeholder", sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: var(--main-black);

  --main-black: #161616;
  --main-gray: #1c1c1c;
  --light-gray: #242424;
  --text-white: #f6f6f6;
  --text-gray: #858585;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
